<div class="kt-portlet no-margin"
	[ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : loading }">

	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">
				<span>Pesquisar Produtos: </span>
			</h3>
		</div>

		<div class="kt-portlet__head-toolbar">

			<button type="button" class="close" aria-label="Close" (click)="close()">
				<span aria-hidden="true">&times;</span>
			</button>

		</div>

	</div>
	<div class="kt-form kt-portlet__body">

		<div class="kt-portlet__body-progress">
			<mat-spinner [diameter]="40"></mat-spinner>
		</div>

		<div class="row form-group">
			<div class="col-sm-6">
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Digite o termo de busca.."
						[(ngModel)]="filters.termo" (keyup.enter)="listProdutos()">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" (click)="listProdutos()">
							<i class="fas fa-search"></i> Buscar
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table mb-0">
				<thead>
					<th width="10%">CÓDIGO</th>
					<th width="40%">PRODUTO</th>
					<th width="20%" class="text-right">ESTOQUE</th>
					<th width="20%" class="text-right">PREÇO R$</th>
					<th width="10%" class="text-right"></th>
				</thead>
			</table>
			<div [style.height.px]="screen">
				<table class="table table-hover">
					<tbody>
						<tr *ngFor="let item of dataSource">
							<td width="10%">{{item.id}}</td>
							<td width="40%">{{item.descricao}}</td>
							<td width="20%" class="text-right">{{item.estoque | currency:' ':false:'1.3':'br'}}</td>
							<td width="20%" class="text-right">{{ item.preco | currency:'R$ ':false:'1.2':'br' }}</td>
							<td width="10%" class="text-right">
								<button mat-icon-button color="primary" matTooltip="Adicionar Item"
									(click)="chage(item)">
									<i class="fas fa-check"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

</div>
