<form #form="ngForm" (ngSubmit)="onSubmit(form)">

	<div class="modal-header">
		<h4 class="modal-title">{{getTitle()}}</h4>
		<button type="button" class="close" aria-label="Close" (click)="close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">

		<div class="row">

			<div [ngClass]="{'col-sm-10': dados.foto_url, 'col-sm-12': !dados.foto_url}">

				<div class="row">
					<div class="col-sm-4 form-group">
						<strong>Tipo:</strong>
						<select class="form-control" [(ngModel)]="dados.tipo" name="tipo">
							<option value="1">1 - Produto Simples</option>
							<!-- <option value="2">2 - Produto Variável</option> -->
						</select>
					</div>

					<div class="col-sm-8 form-group"
						[ngClass]="{'is-invalid': !nome.valid && (nome.touched || form.submitted)}">
						<strong>Descrição:</strong>
						<input type="text" class="form-control" [(ngModel)]="dados.descricao" required name="descricao"
							#nome="ngModel">

						<div *ngIf="!nome.valid && (nome.touched || form.submitted)"
							class="invalid-feedback animated fadeInDown">
							Campo obrigatório
						</div>
					</div>


					<div class="col-sm-3 form-group">
						<span>Código de Barras:</span>
						<input type="text" class="form-control" [(ngModel)]="dados.codigo_barras" name="codigo_barras">
					</div>
					<div class="col-sm-3 form-group">
						<span>Referência:</span>
						<input type="text" class="form-control" [(ngModel)]="dados.referencia" name="referencia">
					</div>

					<div class="col-sm-3 form-group">
						<span>Valor de Custo:</span>
						<input type="text" class="form-control" debounce [delay]="600" (func)="calc_margem()"
							[(ngModel)]="dados.custo" name="custo" currencyMask value="0">
					</div>
					<div class="col-sm-3 form-group">
						<span>Margem de Lucro:</span>
						<input type="text" class="form-control" debounce [delay]="600" (func)="calc_preco()"
							[(ngModel)]="dados.margem" name="margem" currencyMask
							[options]="{ suffix: ' %', prefix: '' }" value="0">
					</div>
					<div class="col-sm-3 form-group">
						<span>Valor de Venda:</span>
						<input type="text" class="form-control" debounce [delay]="600" (func)="calc_margem()"
							[(ngModel)]="dados.preco" name="preco" min="1" currencyMask #preco="ngModel" value="0">
						<div *ngIf="!preco.valid && (preco.touched || form.submitted)"
							class="invalid-feedback animated fadeInDown">
							Informe um valor para venda
						</div>
					</div>

					<div class="col-sm-3 form-group" *ngIf="!dados.id">
						<span>Estoque inicial:</span>
						<input type="number" step="any" class="form-control" [(ngModel)]="dados.estoque" name="estoque">
					</div>
					<div class="col-sm-2 form-group">
						<span>Medida:</span>
						<input type="text" class="form-control" [(ngModel)]="dados.medida" name="medida" mask="SS"
							value="UN">
					</div>
					<div class="col-sm-3 form-group">
						<span>Foto:</span>
						<input type="file" class="form-control" (change)="onFileSelected($event)">
					</div>
				</div>

				<mat-tab-group mat-align-tabs="center">
					<mat-tab label="FISCAL">
						<div class="row">

							<div class="col-sm-10 form-group">
								<span>Origem:</span>
								<select class="form-control" [(ngModel)]="dados.origin" name="origin" value="0">
									<option value="0">0 - Nacional, exceto as indicadas nos códigos 3 a 5</option>
									<option value="1">1 - Estrangeira - Importação direta, exceto a indicada no código 6
									</option>
									<option value="2">2 - Estrangeira - Adquirida no mercado interno, exceto a indicada
										no código
										7
									</option>
									<option value="3">3 - Nacional, mercadoria ou bem com Conteúdo de Importação
										superior a 40%
									</option>
									<option value="4">4 - Nacional, cuja produção tenha sido feita em conformidade
									</option>
									<option value="5">5 - Nacional, mercadoria ou bem com Conteúdo de Importação
									</option>
									<option value="6">6 - Estrangeira - Importação direta, sem similar nacional</option>
									<option value="7">7 - Estrangeira - Adquirida no mercado interno, sem similar
										nacional
									</option>
								</select>
							</div>

							<div class="col-sm-3 form-group">
								<span>NCM:</span>
								<input type="text" mask="00000000" class="form-control" [(ngModel)]="dados.ncm"
									name="ncm">
							</div>
							<div class="col-sm-3 form-group">
								<span>CFOP:</span>
								<input type="text" mask="0000" class="form-control" [(ngModel)]="dados.cfop" name="cfop"
									value="5102">
							</div>

							<!-- <div class="col-sm-3 form-group">
								<span>CST:</span>
								<input type="text" mask="0009" class="form-control" [(ngModel)]="dados.cst" name="cst">
							</div> -->

							<!-- icms; -->
							<div class="col-sm-3 form-group">
								<span>CST ICMS:</span>
								<input type="text" class="form-control" [(ngModel)]="dados.cst_icms" name="cst_icms"
									value="102">
							</div>
							<div class="col-sm-3 form-group">
								<span>Aliq. ICMS:</span>
								<input type="text" class="form-control" [(ngModel)]="dados.p_icms" name="p_icms"
									value="0">
							</div>


							<!-- //ipi -->
							<div class="col-sm-3 form-group">
								<span>CST IPI:</span>
								<input type="text" class="form-control" [(ngModel)]="dados.cst_ipi" name="cst_ipi"
									value="50">
							</div>
							<div class="col-sm-3 form-group">
								<span>Aliq. IPI:</span>
								<input type="text" class="form-control" [(ngModel)]="dados.p_ipi" name="p_ipi"
									value="0">
							</div>

							<!-- //PIS -->
							<div class="col-sm-3 form-group">
								<span>CST PIS:</span>
								<input type="text" class="form-control" [(ngModel)]="dados.cst_pis" name="cst_pis"
									value="07">
							</div>
							<div class="col-sm-3 form-group">
								<span>Aliq. PIS:</span>
								<input type="text" class="form-control" [(ngModel)]="dados.p_pis" name="p_pis"
									value="0">
							</div>

							<!-- //COFINS -->
							<div class="col-sm-3 form-group">
								<span>CST COFINS:</span>
								<input type="text" class="form-control" [(ngModel)]="dados.cst_cofins" name="cst_cofins"
									value="07">
							</div>
							<div class="col-sm-3 form-group">
								<span>Aliq. COFINS:</span>
								<input type="text" class="form-control" [(ngModel)]="dados.p_cofins" name="p_cofins"
									value="0">
							</div>
						</div>
					</mat-tab>

					<!-- <mat-tab label="VARIAÇÕES" *ngIf="dados.tipo == 2 && dados.id">

						<div class="table-responsive">
							<table class="table">
								<thead>
									<th>Descrição</th>
									<th>Título</th>
									<th>Posição</th>
									<th>
										<button class="btn btn-sm btn-primary" type="button" (click)="open_variations()">
											<i class="fas fa-plus"></i> Adicionar variação
										</button>
									</th>
								</thead>
							</table>
						</div>


					</mat-tab> -->
				</mat-tab-group>

			</div>

			<div class="col-sm-2" *ngIf="dados.foto_url">
				<div class="logo-thumb">
					<img [src]="dados.foto_url" [alt]="dados.descricao">
				</div>
			</div>
		</div>


	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-sm btn-outline-dark" [disabled]="submited"
			(click)="close()">Voltar</button>
		<button type="button" class="btn btn-sm btn-info" [disabled]="submited" (click)="openMovEstoque()"
			*ngIf="dados.id">
			<i class="fas fa-dolly"></i> Movimentar Estoque
		</button>
		<button type="submit" class="btn btn-sm btn-success" [disabled]="submited"
			[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': submited }">
			<i class="fas fa-check"></i> Salvar
		</button>
	</div>

</form>
