<div class="kt-portlet no-margin"
	[ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : loading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">

			<h3 class="kt-portlet__head-title">
				<span>Variações: </span>
			</h3>
		</div>

	</div>
	<div class="kt-form kt-portlet__body">

		<div class="kt-portlet__body-progress">
			<mat-spinner [diameter]="40"></mat-spinner>
		</div>

		<table class="table">
			<thead>
				<th>Descrição</th>
				<th>Título</th>
				<th>Posição</th>
				<th>
					<button class="btn btn-sm btn-primary" (click)="open_variation()">
						<i class="fas fa-plus"></i> Nova variação
					</button>
				</th>
			</thead>
		</table>

	</div>

	<!-- <div class="kt-portlet__footer" align="right">
      <button class="btn btn-sm btn-default" [disabled]="loading" (click)="close()">Voltar</button>
      <button class="btn btn-sm btn-success" [disabled]="loading" (click)="submit()"
         [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading }">
         {{(config.id > 0) ? 'Atualizar' : 'Cadastrar'}}
      </button>
   </div> -->
</div>
