<div class="row">
	<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
		<div class="box-card" [routerLink]="[ '/clientes' ]">
			<i class="fas fa-users"></i>
			<h4>CLIENTES</h4>
		</div>
	</div>

	<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
		<div class="box-card" [routerLink]="[ '/produtos' ]">
			<i class="fas fa-box-open"></i>
			<h4>PRODUTOS</h4>
		</div>
	</div>

	<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
		<div class="box-card" [routerLink]="[ '/vendas' ]">
			<i class="fas fa-shopping-basket"></i>
			<h4>vendas</h4>
		</div>
	</div>

	<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
		<div class="box-card" [routerLink]="[ '/nfe' ]">
			<i class="fas fa-file-alt"></i>
			<h4>NFes</h4>
		</div>
	</div>
</div>
