<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : loading }">

	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<button mat-icon-button matTooltip="Voltar" class="icon-back" [routerLink]="'/vendas'">
				<i class="fa fa-arrow-left"></i>
			</button>
			<h3 class="kt-portlet__head-title">
				<!-- Venda: -->
				<span class="badge badge-secondary" *ngIf="vendaCurrent.status == 1">Aberta</span>
				<span class="badge badge-secondary" *ngIf="vendaCurrent.status == 2">Aguardando</span>
				<span class="badge badge-danger" *ngIf="vendaCurrent.status == 0">Cancelada</span>
				<span class="badge badge-success" *ngIf="vendaCurrent.status == 10">Finalizada</span>
				<span class="text-sm"> {{ vendaCurrent.created_at | date: 'dd/MM/yyyy HH:mm' }}</span>
			</h3>
		</div>

		<div class="kt-portlet__head-toolbar">

			<button class="btn btn-sm btn-primay" *ngIf="!permissions.finalizar_venda && vendaCurrent.status == 1">
				Salvar
			</button>
			<button class="btn btn-sm btn-info" *ngIf="vendaCurrent.status == 10 && !vendaCurrent.nfce"
				[disabled]="loading" (click)="gen_nota(65)"
				[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
				<i class="fas fa-receipt"></i> Gerar NFC-e
			</button>
			<button class="btn btn-sm btn-info" *ngIf="vendaCurrent.status == 10 && !vendaCurrent.nfe"
				[disabled]="loading" (click)="gen_nfe()"
				[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
				<i class="fas fa-file-alt"></i> Gerar NF-e
			</button>
			<button class="btn btn-sm btn-alt-warning" *ngIf="vendaCurrent.status == 10 && vendaCurrent.nfce"
				[disabled]="loading" (click)="print_nota(65)"
				[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
				<i class="fas fa-receipt"></i> Imprimir NFC-e
			</button>
			<button class="btn btn-sm btn-alt-warning" *ngIf="vendaCurrent.status == 10 && vendaCurrent.nfe"
				[disabled]="loading" (click)="printNFe()"
				[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
				<i class="fas fa-file-alt"></i> Imprimir NF-e
			</button>
			<button class="btn btn-sm btn-info" *ngIf="vendaCurrent.status == 10">
				<i class="fas fa-print"></i>
			</button>
			<button class="btn btn-sm btn-danger" (click)="cancel_sale()"
				*ngIf="permissions.cancel_venda  && vendaCurrent.status == 1">
				Cancelar
			</button>
			<button class="btn btn-sm btn-success" (click)="finish()"
				*ngIf="permissions.finalizar_venda && vendaCurrent.status == 1">
				Finalizar
			</button>

		</div>
	</div>

	<div class="kt-form kt-portlet__body ">

		<div class="kt-portlet__body-progress">
			<mat-spinner [diameter]="40"></mat-spinner>
		</div>

		<div class="row">

			<div class="col-sm-2">
				<span>Nº Venda:</span>
				<input type="text" class="form-control" [(ngModel)]="vendaCurrent.id" readonly>
			</div>

			<div class="col-sm-3">
				<span>Vendedor: <strong *ngIf="vendaCurrent.user_id">{{vendaCurrent.user_id}}</strong></span>
				<div class="input-group">
					<input type="text" class="form-control" [(ngModel)]="vendaCurrent.vendedor" readonly
						placeholder="Informe um vendedor!">
					<div class="input-group-append">
						<button class="input-group-text">
							<i class="fas fa-search"></i>
						</button>
					</div>

				</div>
			</div>

			<div class="col-sm-4">
				<span>Cliente: <strong *ngIf="vendaCurrent.cliente_id">{{vendaCurrent.cliente_id}}</strong></span>
				<div class="input-group">
					<input type="text" class="form-control" [(ngModel)]="vendaCurrent.cliente" readonly
						placeholder="Informe um cliente!">
					<div class="input-group-append">
						<button class="input-group-text" (click)="add_cliente()">
							<i class="fas fa-search"></i>
						</button>
					</div>

				</div>
			</div>

		</div>

		<div class="row">

			<div style="width: 100%;">
				<hr>
			</div>

			<div class="col-sm-4 form-group">
				<input type="text" class="form-control" *ngIf="permissions.edit_venda && vendaCurrent.status == 1"
					(keyup.enter)="search_produto($event)" [(ngModel)]="input_search"
					placeholder="Digite o código ou passe o leitor...">
			</div>
			<div class="col-sm-2 form-group">
				<button class="btn btn-sm btn-primary" [disabled]="loadingItens" (click)="search_item()"
					*ngIf="permissions.edit_venda && vendaCurrent.status == 1"
					[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loadingItens}">
					<i class="fas fa-search"></i> Pesquisar Produto
				</button>
			</div>

			<div class="col-sm-9">
				<div class="table-responsive">
					<table class="table  mb-0">
						<thead class="">
							<th width="30%">Produto</th>
							<th width="15%" class="text-right">Quant.</th>
							<th width="15%" class="text-right">Valor Unit.</th>
							<th width="15%" class="text-right">Total R$</th>
							<th width="15%" class="text-right">

							</th>
						</thead>
					</table>
					<div>
						<table class="table table-hover mb-0">
							<tbody>
								<tr *ngFor="let item of ItemSource">
									<td width="30%">{{item.descricao | titlecase}}</td>
									<td width="15%" class="text-right">
										{{ item.quantidade | currency:' ' }}
									</td>
									<td width="15%" class="text-right">
										{{ item.valor_unitario | currency:'R$' }}
									</td>
									<td width="15%" class="text-right">
										{{ item.total | currency:'R$' }}
										<div class="text-danger" *ngIf="item.desconto > 0">
											{{ item.desconto | currency:'R$' }}
										</div>
									</td>
									<td width="15%" class="text-right">
										<button mat-icon-button color="primary" [disabled]="loadingItens"
											matTooltip="Alterar Item" (click)="open_item(item)"
											*ngIf="permissions.edit_venda && vendaCurrent.status == 1">
											<i class="fas fa-pen"></i>
										</button>
										<button mat-icon-button color="warn" [disabled]="loadingItens"
											matTooltip="Deletar Item" (click)="del_item_confirm(item)"
											*ngIf="permissions.edit_venda && vendaCurrent.status == 1">
											<i class="fas fa-trash"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<fieldset>
					<legend>Totais:</legend>

					<div>
						<h6>Descontos:
							<span class="text-danger">
								{{ vendaCurrent.descontos | currency:'R$' }}
							</span>
						</h6>
					</div>

					<div>
						<h6>Subtotal:
							<span class="text-success">
								{{ vendaCurrent.subtotal | currency:'R$' }}
							</span>
						</h6>
					</div>

					<div>
						<h4>Total:
							<span class="text-success">
								{{ vendaCurrent.total | currency:'R$' }}
							</span>
						</h4>
					</div>
				</fieldset>

				<fieldset *ngIf="paymentSource.length > 0">
					<legend>Pagamentos: </legend>
					<div *ngFor="let payment of paymentSource">
						<strong>{{payment.forma}}:
							<span class="text-info">{{ payment.valor | currency:'R$' }}</span>
						</strong>
					</div>
					<div *ngIf="getTroco() > 0">
						<strong>
							Troco: <span class="text-info">{{ getTroco() | currency:'R$' }}</span>
						</strong>
					</div>
				</fieldset>
			</div>

		</div>

	</div>
</div>
