/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";

// regular style toast
// @import '~ngx-toastr/toastr-bs4-alert';

// header base skins
.kt-header-base-light {
   @import "sass/global/layout/header/skins/base/light.scss";
}
.kt-header-base-dark {
   @import "sass/global/layout/header/skins/base/dark.scss";
}

// header menu skins
.kt-header-menu-light {
   @import "sass/global/layout/header/skins/menu/light.scss";
}
.kt-header-menu-dark {
   @import "sass/global/layout/header/skins/menu/dark.scss";
}

// brand skins
.kt-brand-dark {
   @import "sass/global/layout/brand/skins/dark.scss";
}
.kt-brand-light {
   @import "sass/global/layout/brand/skins/light.scss";
}

// aside skins
.kt-aside-dark {
   @import "sass/global/layout/aside/skins/dark.scss";
}
.kt-aside-light {
   @import "sass/global/layout/aside/skins/light.scss";
}

body {
   color: #4c4c4c !important;
   font-weight: 400;
}

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
   display: none !important;
}

.mat-table__wrapper--dashboard .mat-table {
   min-width: 600px !important;
   width: 100% !important;
}

.position-static {
   position: static;
}

.logo-thumb {
   img {
      max-width: 100%;
   }
}
.kt-container {
   padding: 0 5% !important;
}
.kt-footer {
   padding: 10px 0px !important;
}

.input-group-text {
   border: 1px solid #cecece;
}

.kt-portlet .kt-portlet-body-sm {
   padding: 15px;
}
legend {
   font-size: 1.3rem;
}

.kt-header {
   max-height: 4.5rem;
}
.kt-aside__brand {
   max-height: 4.5rem;
}
.kt-header--fixed .kt-wrapper {
   padding-top: 4.5rem !important;
}
.kt-content {
   padding: 1.8rem 0;
   padding-bottom: 0;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form {
   box-shadow: 0 0 15px 5px #292929;
   border-radius: 10px;
   padding: 15px;
   background: #fff;
}

.kt-aside-menu .kt-menu__nav {
   margin: 0 0 5rem 0 !important;
}

.form-group {
   margin-bottom: 1.2rem !important;
}
.form-control {
   height: 35px !important;
   margin-top: 0 !important;
   border: 1px solid #cecece !important;
   background: #fff !important;
   font-size: 1rem !important;
   padding: 0.5rem;
}
.form-control-sm {
   height: 30px !important;
   font-size: 1rem !important;
   padding: 0.5rem;
}
.form-control-lg {
   height: 45px !important;
   font-size: 1.1rem !important;
   padding: 0.65rem;
}
.form-control:disabled,
.form-control[readonly] {
   background-color: #e9ecef !important;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions {
   justify-content: center !important;
}

.kt-portlet .portlet-body-sm {
   padding: 0px 5px !important;
}

.btn {
   margin: 0 5px !important;
}
.input-group > .input-group-append > .btn {
   margin: 0 !important;
   height: 35px;
   border-color: #cecece;
}
.icon-only {
   padding: 3px 5px;
   font-size: 1.3rem;
   line-height: 1;
   i {
      margin: 0 !important;
   }
}
.btn-icon-primary {
   padding: 0;
   color: #0148cc;
}
.btn-icon-danger {
   padding: 0;
   color: #ca1818;
}

.mat-icon-button {
   // width: initial !important;
   height: initial !important;
   line-height: 1 !important;
}
.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
   color: #0047cc;
}

.table .thead-dark th {
   background-color: #1a1a27;
   border-color: #1a1a27;
}
.table th,
.table td {
   padding: 0.5rem;
   vertical-align: middle;
}

.kt-aside--minimize .kt-aside__brand .kt-aside__brand-logo .logo {
   display: none;
}

.kt-header-base-dark .kt-header {
   background-color: #1a1a27;
}

.kt-aside-menu .kt-menu__nav .kt-menu__item > .kt-menu__heading,
.kt-aside-menu .kt-menu__nav .kt-menu__item > .kt-menu__link {
   border-radius: 8px;
}
.kt-aside-menu .kt-menu__nav {
   padding: 15px 4% !important;
}

.kt-aside-menu .kt-menu__nav .kt-menu__inner,
.kt-aside-menu .kt-menu__nav .kt-menu__submenu {
   padding: 5px 8px;
}

.kt-aside-light .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon,
.kt-aside-light .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon {
   color: #3e3752;
}
.kt-aside-light
   .kt-aside-menu
   .kt-menu__nav
   > .kt-menu__item
   .kt-menu__submenu
   .kt-menu__item
   > .kt-menu__link
   .kt-menu__link-icon {
   color: #3e3752;
}

.kt-aside-light .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__heading,
.kt-aside-light .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link {
   background-color: #1a1a27;
}
.kt-aside-light
   .kt-aside-menu
   .kt-menu__nav
   > .kt-menu__item.kt-menu__item--here
   > .kt-menu__heading
   .kt-menu__link-icon,
.kt-aside-light .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link .kt-menu__link-icon {
   color: #fdfdfd;
}
.kt-aside-light
   .kt-aside-menu
   .kt-menu__nav
   > .kt-menu__item.kt-menu__item--here
   > .kt-menu__heading
   .kt-menu__link-text,
.kt-aside-light .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link .kt-menu__link-text {
   color: #fdfdfd;
}

.kt-aside-light
   .kt-aside-menu
   .kt-menu__nav
   > .kt-menu__item
   .kt-menu__submenu
   .kt-menu__item.kt-menu__item--active
   > .kt-menu__link {
   background-color: #343a40d6;
}
.kt-aside-light
   .kt-aside-menu
   .kt-menu__nav
   > .kt-menu__item
   .kt-menu__submenu
   .kt-menu__item.kt-menu__item--active
   > .kt-menu__heading
   .kt-menu__link-text,
.kt-aside-light
   .kt-aside-menu
   .kt-menu__nav
   > .kt-menu__item
   .kt-menu__submenu
   .kt-menu__item.kt-menu__item--active
   > .kt-menu__link
   .kt-menu__link-text {
   color: #fdfdfd;
}
.kt-aside-light
   .kt-aside-menu
   .kt-menu__nav
   > .kt-menu__item
   .kt-menu__submenu
   .kt-menu__item.kt-menu__item--active
   > .kt-menu__link
   .kt-menu__link-icon {
   color: #fdfdfd;
}
.kt-aside-light
   .kt-aside-menu
   .kt-menu__nav
   > .kt-menu__item
   .kt-menu__submenu
   .kt-menu__item.kt-menu__item--active
   > .kt-menu__link:hover {
   background-color: #343a40d6;
}

.kt-header-base-dark .kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link {
   background-color: #0047cc !important;
}
.kt-header-menu-dark
   .kt-header-menu
   .kt-menu__nav
   > .kt-menu__item
   .kt-menu__submenu
   > .kt-menu__subnav
   > .kt-menu__item.kt-menu__item--active
   > .kt-menu__link {
   background-color: #0047cc !important;
}
.kt-header-menu-dark
   .kt-header-menu
   .kt-menu__nav
   > .kt-menu__item
   .kt-menu__submenu
   > .kt-menu__subnav
   > .kt-menu__item.kt-menu__item--here
   > .kt-menu__link
   .kt-menu__link-icon {
   color: #ffffff !important;
}

.kt-portlet {
   box-shadow: 0px 0px 13px 3px #523f692e;
   border-radius: 8px;
}
.kt-portlet__footer {
   border-top: 1px solid #ebedf2;
   padding: 10px;
}

.text-right {
   text-align: center;
}
.text-sm {
   font-size: 0.9rem;
}
fieldset {
   min-width: 0;
   padding: 5px 15px;
   margin: 0px;
   border: 1px solid #ccc;
}
.table thead th,
.table thead td {
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}
.table thead th {
   font-size: 1.1rem;
}
.no-margin {
   margin: 0;
}
