<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : loading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">Lista de Produtos</h3>
		</div>

		<div class="kt-portlet__head-toolbar">
			<button class="btn btn-sm btn-primary" (click)="add()" matTooltip="Cria um novo produto"
				*ngIf="permissions.create_product">
				<i class="fas fa-plus-square"></i> Novo Produto
			</button>
			<button class="btn btn-sm btn-success" (click)="open_filters(filtros)" matTooltip="Filtra os dados">
				<i class="fas fa-sliders-h"></i> Filtros
			</button>
			<button class="btn btn-label-brand btn-bold btn-sm" (click)="load_list()" matTooltip="Atualiza a lista">
				<i class="fas fa-sync-alt" [class.fa-spin]="loading"></i>
			</button>
		</div>
	</div>
	<div class="kt-form kt-portlet__body">

		<div class="kt-portlet__body-progress">
			<mat-spinner [diameter]="40"></mat-spinner>
		</div>

		<div class="table-responsive">
			<table class="table  mb-0">
				<thead class="">
					<!-- <th width="10%">ID</th> -->
					<th width="15%">Código de Barras</th>
					<th width="15%">Referência</th>
					<th width="30%">Produto</th>
					<th width="10%">Estoque</th>
					<th width="10%">Preço</th>
					<th width="15%" class="text-right"></th>
				</thead>
			</table>
			<div>
				<table class="table table-hover mb-0">
					<tbody>
						<tr *ngFor="let item of dataSource">
							<!-- <td width="10%">{{item.id}}</td> -->
							<td width="15%">{{item.codigo_barras}}</td>
							<td width="15%">{{item.referencia}}</td>
							<td width="30%">{{item.descricao | titlecase}}</td>

							<td width="10%">
								{{ item.estoque | number }}
							</td>
							<td width="10%">
								{{ item.preco | currency:'R$ ':false:'1.2':'br' }}
							</td>
							<td width="15%" class="text-right">
								<button mat-icon-button color="primary" matTooltip="Alterar Cadastro"
									(click)="edit(item)" *ngIf="permissions.edit_product">
									<i class="fas fa-pen"></i>
								</button>
								<button mat-icon-button color="primary" matTooltip="Movimentar Estoque"
									(click)="openMovEstoque(item)" *ngIf="permissions.edit_product">
									<i class="fas fa-dolly"></i>
									<!-- Movimentar Estoque -->
								</button>
								<button mat-icon-button color="warn" matTooltip="Deletar Cadastro"
									(click)="delete_item(item)" *ngIf="permissions.delete_product">
									<i class="fas fa-trash"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>

<ng-template #filtros let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Filtros</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-12">
				<span>Pesquisa:</span>
				<input type="text" class="form-control" [(ngModel)]="filters.termo">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary"
			(click)="modal.close('close click');load_list();">Confirmar</button>
	</div>
</ng-template>
